<div class="balance-table" *transloco="let t; read: 'trs_action-balance'">
  <div></div>
  <div class="header">{{ t("trk_personal-key") }}</div>
  <div class="header">{{ t("trk_activity-key") }}</div>
  <div class="header">{{ t("trk_methodical-key") }}</div>
  <div class="header">{{ t("trk_social-key") }}</div>
  <div class="name">{{ t("trk_ideal") }}</div>
  <div class="value">7</div>
  <div class="value">8</div>
  <div class="value">9</div>
  <div class="value">6</div>
  <div class="name">{{ t("trk_expectation") }}</div>
  <div class="value">6</div>
  <div class="value">6</div>
  <div class="value">11</div>
  <div class="value">7</div>
  <div class="name">{{ t("trk_execution") }}</div>
  <div class="value">5</div>
  <div class="value">7</div>
  <div class="value">10</div>
  <div class="value">8</div>
  <div class="name">{{ t("trk_result") }}</div>
  <div class="value">7</div>
  <div class="value">10</div>
  <div class="value">8</div>
  <div class="value">5</div>
</div>
