:host {
  display: block;
}

.container {
  display: grid;
  width: min-content;
}

.balance-table {
  display: grid;
  grid-template-columns: auto 1rem 2rem 1rem 2rem 1rem 2rem 1rem 2rem;
  gap: 0.5rem 0;
  width: fit-content;

  .header,
  .value,
  .name,
  .sum {
    padding: 0.25rem;
  }

  .value,
  .header,
  .sum {
    text-align: center;
  }

  .name {
    grid-column: 1 / 2;
    width: max-content;
  }

  .value {
    background-color: var(--low-level);
    color: white;
  }

  .value.low {
    background-color: var(--low-level);
  }

  .value.medium {
    background-color: var(--medium-level);
  }

  .value.high {
    background-color: var(--very-high-level);
  }

  .ideal {
    grid-row: 2/3;
  }
  .expectation {
    grid-row: 3/4;
  }
  .execution {
    grid-row: 4/5;
  }
  .result {
    grid-row: 5/6;
  }

  .name {
    grid-column: 1/2;
  }

  .value {
    grid-column: 9/10;
  }

  .personal {
    grid-column: 3/4;
  }

  .activity {
    grid-column: 5/6;
  }

  .methodical {
    grid-column: 7/8;
  }

  .social {
    grid-column: 9/10;
  }

  .line {
    position: relative;
  }
  .line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0.2rem;
    width: 1.6rem;
    clip-path: inset(0 50% 0 0);
  }

  .line.personal {
    grid-column: 2/3;
  }

  .line.activity {
    grid-column: 4/5;
  }

  .line.methodical {
    grid-column: 6/7;
  }

  .line.social {
    grid-column: 8/9;
  }

  .hi-he {
    grid-row: 2/4;
  }
  .hi-hv {
    grid-row: 2/5;
  }
  .hi-hr {
    grid-row: 2/6;
  }
  .he-hv {
    grid-row: 3/5;
  }
  .he-hr {
    grid-row: 3/6;
  }
  .hv-hr {
    grid-row: 4/6;
  }

  .line.high::before {
    border-style: solid;
    border-width: 2px;
    border-color: var(--very-high-level);
  }

  .line.low::before {
    border-style: solid;
    border-width: 2px;
    border-color: var(--low-level);
  }

  .line:hover > .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .line:hover::before {
    border-width: 4px;
  }

  .tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: 1rem;
    width: 15rem;
    z-index: 1000;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;

    transition: all 0.3s;
  }
}

.smalltip {
  display: none;
  height: 0;
  overflow: hidden;

  transition: height 0.3s;
}

@media screen and (max-width: 600px) {
  .tooltip {
    display: none;
  }
  .smalltip {
    display: block;
  }

  .container:has(.personal.line:hover) {
    .smalltip.personal {
      height: 100%;
    }
  }

  .container:has(.activity.line:hover) {
    .smalltip.activity {
      height: 100%;
    }
  }

  .container:has(.methodical.line:hover) {
    .smalltip.methodical {
      height: 100%;
    }
  }

  .container:has(.social.line:hover) {
    .smalltip.social {
      height: 100%;
    }
  }
}
